# Ignore vendored/external code, except Asap
external/*
!external/Asap/
!external/Asap/**

# Ignore secrets
secrets/

# Ignore reference documents (e.g., PDFs) anywhere in the repo
# **/reference/

# Ignore plain text files
*.txt
*.pdf

# Ignore crash dump files
*.stackdump

# Documenter.jl build output
docs/build/