# Ignore vendored/external code
external/

# Ignore secrets
secrets/

# Ignore reference documents (e.g., PDFs) anywhere in the repo
# **/reference/

# Ignore plain text files
*.txt
*.pdf

# Ignore crash dump files
*.stackdump